
body {
  background-color: black;
  color: white;
  margin: 0px;
}

#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.repl .output {
  margin: 8px;
  color: white;
  font-family: monospace;
  font-size: 12px;
  height: 80%;
  overflow: auto
}

.repl .input {
  color: white;
  background-color: #333;
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 99%;
  font-family: monospace;
  font-size: 12px;
}

.repl .multiline {
  color: white;
  background-color: #333;
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 99%;
  font-family: monospace;
  font-size: 12px;
  height: 160px;
  display: none;
}

.repl .context {
  color: #66f;
  font-size: 10px;
}

.repl .history { color: white; }
.repl .status { color: #8f8; }
.repl .scrollable { display: block;
                    width: 90%;
                    overflow: auto; }

.repl .inspect                   { color: #888;           
                                   cursor: pointer; }     
.repl .inspect_toplevel          { display: block;
                                   padding: 12px; }
.repl .inspect .undefined        { color: #448; }
.repl .inspect .null             { color: #884; }
.repl .inspect .true             { color: #8f8; }
.repl .inspect .false            { color: #f88; }
.repl .inspect .number           { color: #8cc; }
.repl .inspect .string           { color: #cc8; }
.repl .inspect .function         { color: #88c; white-space: pre-wrap; }
.repl .inspect .array            { color: #888; }

.repl .inspect .object_table     { border: 1px solid #444; }
.repl .inspect .object_row       {}
.repl .inspect .object_key       { color: #cc8; padding: 6px 16px 6px 6px; text-align: right; }
.repl .inspect .object_value     { padding: 6px 6px 6px 6px; }

.repl .inspect .dom                           { color: #666; }
.repl .inspect .dom .tag_name                 { color: #996; }
.repl .inspect .dom .tag_body                 { display: block; margin: 0px 0px 0px 1em; }
.repl .inspect .dom .attribute_name           { color: #966; }
.repl .inspect .dom .attribute_value          { color: #699; }
.repl .inspect .dom .text                     { color: #aaa; }
.repl .inspect .dom .comment                  { color: #555; font-style: italic; }
.repl .inspect .dom .processing_instruction   { color: #969; font-weight: bold; }

.repl .error            { color: #b55; }
.repl .error_name       { display: block;
                          background-color: #822;
                          color: white;
                          font-weight: bold;
                          padding: 2px;
                          margin: 8px 0 0 0; }
.repl .error_message    { display: block;
                          font-style: italic;
                          color: #bbb;
                          margin: 8px; }
.repl .stack_trace      { border: 0px; }
.repl .stack_trace td   { padding: 0px 8px 0px 8px;
                          margin: 0; }
.repl .stack_object     { color: #669; }
.repl .stack_file       { color: #996; }
.repl .stack_line       { color: #696; }

.repl .property_table { border: 0px; margin: 0px; padding: 0px; }
/*.repl .property_row   { margin: 20px 0px 20px 0px; }*/
.repl .property_name  { color: #ff8;
                        margin: 0px;
                        padding: 6px 16px 0px 0px;
                        text-align: right; }
.repl .property_value { color: #888;
                        margin: 0px;
                        padding: 6px 0px 0px 0px;
                        font-size: 11px; }
